@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import "sass-svg-uri/svg-uri";

$cardFontColor: rgb(255, 255, 255);
$detailFontColor: rgb(110, 113, 121);

$yellowCardColor: rgb(255, 215, 112);
$greenCardColor: rgb(73, 208, 176);
$redCardColor: rgb(252, 108, 109);
$blueCardColor: rgb(118, 190, 254);
$greyCardColor: rgb(153, 143, 153);
$purpleCardColor: rgb(125, 109, 148);

$cardColorNormal: rgb(162, 161, 113);
$cardColorBug: rgb(168, 184, 33);
$cardColorFight: rgb(192, 48, 40);
$cardColorGhost: rgb(113, 88, 153);
$cardColorElectric: rgb(251, 206, 45);
$cardColorFlying: rgb(168, 144, 240);
$cardColorSteel: rgb(184, 184, 208);
$cardColorPsycic: rgb(254, 88, 138);
$cardColorPoison: rgb(157, 62, 162);
$cardColorFire: rgb(240, 127, 47);
$cardColorIce: rgb(152, 216, 216);
$cardColorGround: rgb(223, 189, 99);
$cardColorWater: rgb(108, 142, 239);
$cardColorDragon: rgb(113, 51, 255);
$cardColorRock: rgb(184, 159, 56);
$cardColorGrass: rgb(119, 198, 79);
$cardColorDark: rgb(111, 88, 72);
$cardColorFairy: rgb(224, 142, 224);
$cardColorUnknown: rgb(229, 242, 199);
$cardColorShadow: rgb(85, 110, 126);

// Mixins
@mixin card($backgroundColor) {
  // min-height: min-content;
  // min-width: min-content;
  // box-sizing: content-box;
  cursor: pointer;
  border-radius: 25px;
  padding: 20px 20px 20px 20px;
  margin: 20px;
  width: 550px;
  height: 320px;
  background-color: $backgroundColor;

  .container {
    align-content: center;

    .id {
      padding-top: 10px;
      color: $cardFontColor;
      font-size: large;
      font-weight: bold;
    }

    h2 {
      padding-top: 5px;
      display: flex;
      font-weight: bold;
      text-transform: capitalize;

      div {
        color: $cardFontColor;
      }
    }
  }

  .row {
    margin-top: 5px;
    // background: blue;
    height: 50%;

    .col {
      height: 50%;
    }
  }

  .typeItem {
    text-transform: capitalize;
    color: $cardFontColor;
    border-radius: 10px;
    background-color: lighten($backgroundColor, 15);
    text-align: center;
    margin: 15px;
    height: 40px;
    display: grid;
    place-items: center;
  }

  .pictureContainer {
    // height: 320px;
    display: grid;
    place-items: center;

    .background {
      height: 205px;
      width: 100%;
      opacity: 10%;
      object-fit: contain;
      background-blend-mode: screen;
      background-repeat: no-repeat;
      background-size: 205px;
      background-image: svg-uri(
        '<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 859 858.94"><title>1</title><path d="M1125,728.09c-22.82-11.92-47.94-14-72.71-16.74-84.93-9.42-170.26-11.81-255.62-13.15-5.36-.09-8-1.35-9.92-6.9-14.29-41-48.95-66-90.57-65.85-41.33.15-75.93,25.16-89.91,65.51-1.82,5.25-4,7.22-9.67,7.26q-96.89.76-193.54,7.64c-38,2.71-76.09,5.51-113.39,14.27a84.58,84.58,0,0,0-23.29,9.3c2-148.63,58.91-268.51,177.75-356.3C587,267.59,779.53,265.46,923.93,356.06,1077.85,452.62,1130.47,613.81,1125,728.09Z" transform="translate(-266.42 -290.87)"/><path d="M533.21,745.16c20.79,0,41.59.18,62.39-.12,5.61-.08,8.69.94,11,6.9,15.11,39.73,49.91,64,90.43,63.82,40.85-.19,73.77-24.14,89.2-65.16,1.54-4.1,3.49-5.71,8-5.56,43.75,1.55,87.53,2.5,131.26,4.41,39.37,1.72,78.73,4.11,117.91,8.56,23.39,2.66,46.77,5.29,69.43,12.32,7.31,2.27,9.43,5.9,8.39,13.5C1098.25,950.46,969.57,1094.3,805.89,1136c-229.83,58.53-459.29-73.73-524.13-302.16-5-17.6-8.25-35.58-11.41-53.59-1-5.59,2-7.22,5.93-8.73,13.39-5.18,27.48-7.57,41.57-9.6,35.64-5.11,71.49-8.17,107.45-10s71.92-3.69,107.88-5.53Zm534.1,63.39c-10.66-1.4-20.75-3-30.9-4-68.32-6.69-136.89-8.93-205.45-11.39-8-.28-12.59,2-17.3,8.77-58.2,83.65-179.81,82.34-236.3-2.41-3.15-4.72-6.29-6.57-11.93-6.36-76.6,2.88-153.26,4.4-229.42,14.52-9,1.2-10.44,3.5-8.14,11.83,15.89,57.44,42.31,109.4,82.63,153.34,94.88,103.36,212.71,145.16,351,123.29,95.38-15.09,173.32-63.17,233.79-138.69C1030.45,913.51,1054.16,863.88,1067.31,808.55Z" transform="translate(-266.42 -290.87)"/><path d="M763.45,720.79a67,67,0,1,1-133.92-.88c.2-36.61,30.49-66.4,67.38-66.26C733.56,653.78,763.53,684,763.45,720.79Z" transform="translate(-266.42 -290.87)"/></svg>'
      );
    }

    .picture {
      position: relative;
      top: -220px;
      object-fit: contain;
      font-size: 100px;
    }
  }

  &:hover {
    background: saturate($backgroundColor, 15) !important;

    .typeItem {
      background: lighten($backgroundColor, 15) !important;
    }
  }
}

// base styles
* {
  // margin: 0;
  font-family: "Quicksand";
  color: #333;
  text-transform: capitalize;
  // background-color: red;
}

// // card styles
.yellowCard {
  @include card($yellowCardColor);
}
.redCard {
  @include card($redCardColor);
}
.greenCard {
  @include card($greenCardColor);
}
.blueCard {
  @include card($blueCardColor);
}

// element styles
.cardColorNormal {
  @include card($cardColorNormal);
}
.cardColorBug {
  @include card($cardColorBug);
}
.cardColorFight {
  @include card($cardColorFight);
}
.cardColorGhost {
  @include card($cardColorGhost);
}
.cardColorElectric {
  @include card($cardColorElectric);
}
.cardColorFlying {
  @include card($cardColorFlying);
}
.cardColorSteel {
  @include card($cardColorSteel);
}
.cardColorPsycic {
  @include card($cardColorPsycic);
}
.cardColorPoison {
  @include card($cardColorPoison);
}
.cardColorFire {
  @include card($cardColorFire);
}
.cardColorIce {
  @include card($cardColorIce);
}
.cardColorGround {
  @include card($cardColorGround);
}
.cardColorWater {
  @include card($cardColorWater);
}
.cardColorDragon {
  @include card($cardColorDragon);
}
.cardColorRock {
  @include card($cardColorRock);
}
.cardColorGrass {
  @include card($cardColorGrass);
}
.cardColorDark {
  @include card($cardColorDark);
}
.cardColorFairy {
  @include card($cardColorFairy);
}
.cardColorUnkown {
  @include card($cardColorUnknown);
}
.cardColorShadow {
  @include card($cardColorShadow);
}

// Modal container styles
@mixin modal($backgroundColor) {
  height: 80%;
  overflow-y: scroll;
  border-radius: 25px;
  background-color: $backgroundColor;
  cursor: pointer;
  padding: 40px;
  margin: 150px;
  opacity: 1;
  color: $cardFontColor;

  .containerHeader {
    align-content: center;

    .id {
      padding-top: 10px;
      color: $detailFontColor;
      font-size: x-large;
      font-weight: bold;
    }

    .name {
      color: $detailFontColor;
      font-size: 70px;
      text-transform: capitalize;
    }
  }

  .containerDetail {
    margin: 35px;

    .col {
      .typeNames {
        background-color: darken($backgroundColor, 10);
        border-radius: 10px;
        padding: 25px;

        .typeHeading {
          color: $detailFontColor;
          font-size: x-large;
          text-align: center;
          padding: 10px;
        }

        .type {
          color: $detailFontColor;
          font-size: large;
          text-transform: capitalize;
          border-radius: 10px;
          background-color: lighten($backgroundColor, 10);
          text-align: center;
          margin: 15px;
          height: 40px;
          display: grid;
          place-items: center;
        }
      }
    }
  }

  .pictureContainer {
    // width: 800px;
    .picture {
      // width: 800px;
      width: 100%;
      height: 100%;
      object-fit: contain;
      // background-color: red;

      // .background {
      //   height: 205px;
      //   width: 100%;
      //   // opacity: 10%;
      //   object-fit: contain;
      //   background-blend-mode: screen;
      //   background-repeat: no-repeat;
      //   // background-size: 205px;
      //   background-image: svg-uri(
      //     '<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 859 858.94"><title>1</title><path d="M1125,728.09c-22.82-11.92-47.94-14-72.71-16.74-84.93-9.42-170.26-11.81-255.62-13.15-5.36-.09-8-1.35-9.92-6.9-14.29-41-48.95-66-90.57-65.85-41.33.15-75.93,25.16-89.91,65.51-1.82,5.25-4,7.22-9.67,7.26q-96.89.76-193.54,7.64c-38,2.71-76.09,5.51-113.39,14.27a84.58,84.58,0,0,0-23.29,9.3c2-148.63,58.91-268.51,177.75-356.3C587,267.59,779.53,265.46,923.93,356.06,1077.85,452.62,1130.47,613.81,1125,728.09Z" transform="translate(-266.42 -290.87)"/><path d="M533.21,745.16c20.79,0,41.59.18,62.39-.12,5.61-.08,8.69.94,11,6.9,15.11,39.73,49.91,64,90.43,63.82,40.85-.19,73.77-24.14,89.2-65.16,1.54-4.1,3.49-5.71,8-5.56,43.75,1.55,87.53,2.5,131.26,4.41,39.37,1.72,78.73,4.11,117.91,8.56,23.39,2.66,46.77,5.29,69.43,12.32,7.31,2.27,9.43,5.9,8.39,13.5C1098.25,950.46,969.57,1094.3,805.89,1136c-229.83,58.53-459.29-73.73-524.13-302.16-5-17.6-8.25-35.58-11.41-53.59-1-5.59,2-7.22,5.93-8.73,13.39-5.18,27.48-7.57,41.57-9.6,35.64-5.11,71.49-8.17,107.45-10s71.92-3.69,107.88-5.53Zm534.1,63.39c-10.66-1.4-20.75-3-30.9-4-68.32-6.69-136.89-8.93-205.45-11.39-8-.28-12.59,2-17.3,8.77-58.2,83.65-179.81,82.34-236.3-2.41-3.15-4.72-6.29-6.57-11.93-6.36-76.6,2.88-153.26,4.4-229.42,14.52-9,1.2-10.44,3.5-8.14,11.83,15.89,57.44,42.31,109.4,82.63,153.34,94.88,103.36,212.71,145.16,351,123.29,95.38-15.09,173.32-63.17,233.79-138.69C1030.45,913.51,1054.16,863.88,1067.31,808.55Z" transform="translate(-266.42 -290.87)"/><path d="M763.45,720.79a67,67,0,1,1-133.92-.88c.2-36.61,30.49-66.4,67.38-66.26C733.56,653.78,763.53,684,763.45,720.79Z" transform="translate(-266.42 -290.87)"/></svg>'
      //   );

      //   img {
      //     width: 100%;
      //     height: 100%;
      //     object-fit: contain;
      //     opacity: 100%;
      //   }
      // }
    }
  }

  &:focus {
    outline: none !important;
  }
}

// Table
.table {
  color: $detailFontColor;
}

.table-striped {
  border-bottom: none;
}

// Global React-Modal animations
.ReactModalPortal > * {
  // When the modal is closed, overlay div has no css class
  // This selector should be overridden by the `&--after-open` class below
  opacity: 0;
  background-color: blue;
}

.ReactModal__Overlay {
  transition: opacity 500ms ease-in-out;
  background: rgba(0, 0, 0, 0.15);

  &--after-open {
    opacity: 1;
    background: rgba(0, 0, 0, 0.15);
  }
  &--before-close {
    opacity: 0;
    background: rgba(0, 0, 0, 0.15);
  }
}

.modalContainer {
  @include modal($cardColorUnknown);
}

.error {
  font-size: x-large;
  text-align: center;
}

body {
  background-color: rgb(244, 244, 244);
  // background-color: rgb(136, 65, 64);
}

.containerBody {
  // background-color: red;
  // margin: 25px;
}

// button
/* CSS */
.button-23 {
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.button-23:active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
}

.button-23:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}
